body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0;
    background-color: #f0f0f0;
}

header {
    text-align: left;
    background-color: #4682b4;
    color: #fff;
    height: 70vh;
    padding: 20px;
    box-sizing: border-box;
}