@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0;
  background-color: #A3CAE9;
  color: rgb(231, 228, 228);
}

.back-navbar{
  background-color: #4682b4;
  width: 100%;
  height: 8%;
  box-sizing: border-box;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; 
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding-right: 30px;
  font-size: 20px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #0b2a44;
  font-weight: 600;
}

.navbar a:hover {
  color: #90c9f2;
}

.navbar a.active {
  color: #f8f9f9;
}

.navbar-name {
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  padding-left: 30px;
  color: #0b2a44;
  margin-left: 0;
}

/* Section Box Styles */
.resume-box {
  margin-top: 55%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  color: #0b2a44;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}

.section-box {
  max-width: 800px;
  margin: 20px auto;
  background: #ffffff;
  padding: 20px;
  padding-top: 2px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-box h2 {
  border-bottom: 2px solid #4682b4;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  list-style-position: inside;
  padding: 0;
}

li ul {
  list-style-type: circle;
  list-style-position: outside;
  padding-left: 5%;
}

ul li{
  margin-bottom: 1%;
}